<footer class="border-top">
    <div class="float-left" id="copy-right">
        <span>©17Media</span>
        <a><span>服務條款</span></a>
        <a><span>用戶協議</span></a> 
    </div>
    <div class="float-right">
        <select class="custom-select py-0">
            <option selected>台灣</option>
            <option>台灣</option>
            <option>全球</option>
            <option>日本</option>
            <option>香港</option>
            <option>印尼</option>
            <option>馬來西亞</option>
        </select>
    </div>
</footer>