<% include partials/header %>

<div class="container my-5" style="padding:0" >
    <div class="row mx-0">
        <div class="col-10 index" >
            <div class="card main-live" style="height:100%">
                <a href="/live">
                    <img src="https://images.unsplash.com/photo-1532311957330-e06a5058704d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9f1d586095bdac804c25fc40f8ce6f15&auto=format&fit=crop&w=1350&q=80">
                </a>
            </div>
        </div>
        <div class="col-2 index" style="padding:0">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1532301791573-4e6ce86a085f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0d9fe8ce9033db3a46ddf00bba92240&auto=format&fit=crop&w=1350&q=80">
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1532326313517-3a349748cef8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2daa9c193a6e822bf04773a0789acadd&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1532314534531-07200540f152?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=84afc0e5c7d29c75ef44925617ad8849&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="card"> 
                <img src="https://images.unsplash.com/photo-1532304854-4248635f2cb5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=00891d8ca5b83fb7459ceaf8452d00fd&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1532193112533-44e22b536a4a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd3985a0d0e759c5152ddae4e7dd0345&auto=format&fit=crop&w=500&q=60">
            </div>
        </div>
    </div>
</div>


<div class="bg-light pb-5">
    <ul class="nav justify-content-center bg-white">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">追蹤</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">熱門</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">最新</a>
      </li>
    </ul>

    <div class="container my-5">
        <div class="row mb-3 mx-0">
            <div class="col">
                <img src="https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="col">
                <img src="https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="col">
                <img src="https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="col">
                <img src="https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="col">
                <img src="https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
        </div>
        <div class="row mb-3 mx-0">
            <div class="col">
                <img src="https://images.pexels.com/photos/947785/pexels-photo-947785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="col">
                <img src="https://images.pexels.com/photos/947785/pexels-photo-947785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="col">
                <img src="https://images.pexels.com/photos/947785/pexels-photo-947785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="col">
                <img src="https://images.pexels.com/photos/947785/pexels-photo-947785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="col">
                <img src="https://images.pexels.com/photos/947785/pexels-photo-947785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
        </div>
        <button class="btn" id="index-more">載入更多</button>
    </div>
</div>

<div id="get-app">
    <div class="download">
        <img src="https://freeiconshop.com/wp-content/uploads/edd/app-store-badge.png">
    </div>
    <div class="download">
        <img src="https://freeiconshop.com/wp-content/uploads/edd/google-play-badge.png">
    </div>
</div>


<% include partials/copyright %>
<% include partials/footer %>