<% include partials/header %>

<div id="leadboard-banner">
    <div>
        <div class="text-center">
            <h1>排行榜</h1>
        </div>
        <div class="text-center">
            <p class="m-0">最夯的主播、最棒的主播都在這裡等你！</p>
            <p class="m-0">快來看上榜的主播有哪些！</p>
        </div>
    </div>
</div>

<div class="bg-light pb-5">
    <ul class="nav justify-content-center bg-white pt-2" id="location">
        <li class="nav-item mr-4">
            <a class="nav-link text-secondary" href="#">台灣</a>
        </li>
        <li class="nav-item mr-4">
            <a class="nav-link text-secondary" href="#">全球</a>
        </li>
        <li class="nav-item mr-4">
            <a class="nav-link text-secondary" href="#">日本</a>
        </li>
        <li class="nav-item mr-4">
            <a class="nav-link text-secondary" href="#">香港</a>
        </li>
        <li class="nav-item mr-4">
            <a class="nav-link text-secondary" href="#">印尼</a>
        </li>
        <li class="nav-item mr-4">
            <a class="nav-link text-secondary" href="#">馬來西亞</a>
        </li>
    </ul>
    
    <div class="container my-5">
        <div class="row mb-5 mx-0">
            <div class="col">
                <ul class="list-group ranking">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group ranking">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                <ul class="list-group ranking">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Morbi leo risus</li>
                </ul>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>


<% include partials/copyright %>
<% include partials/footer %>