<% include partials/header %>

<div class="py-5" id="live-bg">
    <div class="container custom-container-live">
    <div class="streamBlock">
        <div id="streamerInfo">
            <h3>Username</h3>
            <p>999粉絲數  999追蹤中</p>
            <p>discription</p>
        </div>
        <div id="streamSuggest">
            <h3>熱門推薦</h3>
        </div>
    </div>
    
    <div class="streamBlock">
        <div id="streamVideo">
            video here
            <img src="https://images.unsplash.com/photo-1532311957330-e06a5058704d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9f1d586095bdac804c25fc40f8ce6f15&auto=format&fit=crop&w=1350&q=80">
        </div>
    </div>
    
    <div class="streamBlock">
        <div id="asideContent">
            <ul class="nav justify-content-center bg-white border-bottom" id="asideTab">
              <li class="nav-item">
                <a class="nav-link text-secondary mr-3" href="#">留言</a>
              </li>
              <span class="navbar-text mr-3">|</span>
              <li class="nav-item">
                <a class="nav-link text-secondary mr-3" href="#">活動專區</a>
              </li>
              <span class="navbar-text mr-3">|</span>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="#">拜訪紀錄</a>
              </li>
            </ul>
            <div id="chat">
                <ul id="chatContent">
                  <li><span>username </span>Cras justo odio</li>
                  <li><span>username </span>Dapibus ac facilisis in</li>
                  <li><span>username </span>Morbi leo risus</li>
                  <li><span>username </span>Porta ac consectetur ac</li>
                  <li><span>username </span>Vestibulum at eros</li>
                  <li><span>username </span>Cras justo odio</li>
                  <li><span>username </span>Dapibus ac facilisis in</li>
                  <li><span>username </span>Morbi leo risus</li>
                  <li><span>username </span>Porta ac consectetur ac</li>
                  <li><span>username </span>Vestibulum at eros</li>
                  <li><span>username </span>Cras justo odio</li>
                  <li><span>username </span>Cras justo odio</li>
                  <li><span>username </span>Dapibus ac facilisis in</li>
                  <li><span>username </span>Morbi leo risus</li>
                  <li><span>username </span>Porta ac consectetur ac</li>
                  <li><span>username </span>Vestibulum at eros</li>
                  <li><span>username </span>Cras justo odio</li>
                  <li><span>username </span>Dapibus ac facilisis in</li>
                  <li><span>username </span>Morbi leo risus</li>
                  <li><span>username </span>Porta ac consectetur ac</li>
                  <li><span>username </span>Vestibulum at eros</li>
                  <li><span>username </span>Cras justo odio</li>
                  <li><span>username </span>Cras justo odio</li>
                  <li><span>username </span>Dapibus ac facilisis in</li>
                  <li><span>username </span>Morbi leo risus</li>
                  <li><span>username </span>Porta ac consectetur ac</li>
                </ul>
            </div>
            <div id="chatInput">
                <input type="text" placeholder="輸入訊息">
            </div>
        </div>
    </div>
    </div>
</div>   





<% include partials/footer %>