<% include partials/header %>

<div class="py-3" id="purches-bg">
    <div class="container custom-container-purches mb-5 mt-4">
        <h3>點數儲值</h3>
        <div class="row my-3">
            <div class="col card text-center buy-card">
                <div class="card-header">
                    <h1>120點</h1>
                </div>
                <div class="card-footer">
                    <button class="btn">TWD. 30</button>
                </div>
            </div>
            <div class="col card text-center buy-card">
                <div class="card-header">
                    <h1>600點</h1>
                </div>
                <div class="card-footer">
                    <button class="btn">TWD. 150</button>
                </div>
            </div>
            <div class="col card text-center buy-card">
                <div class="card-header">
                    <h1>1,300點</h1>
                </div>
                <div class="card-footer">
                    <button class="btn">TWD. 300</button>
                </div>
            </div>
            <div class="col card text-center buy-card">
                <div class="card-header">
                    <h1>2,600點</h1>
                </div>
                <div class="card-footer">
                    <button class="btn">TWD. 590</button>
                </div>
            </div>
            <div class="col card text-center buy-card">
                <div class="card-header">
                    <h1>7,000點</h1>
                </div>
                <div class="card-footer">
                    <button class="btn">TWD. 1,490</button>
                </div>
            </div>
        </div>
        
        <div class="row my-3">
            <div class="col card text-center buy-card">
                <div class="card-header">
                    <h1>15,000點</h1>
                </div>
                <div class="card-footer">
                    <button class="btn">TWD. 2,990</button>
                </div>
            </div>
            <div class="col card text-center buy-card">
                <div class="card-header">
                    <h1>51,000點</h1>
                </div>
                <div class="card-footer">
                    <button class="btn">TWD. 10,000</button>
                </div>
            </div>
            <div class="col card text-center buy-card">
                <div class="card-header">
                    <h1>102,000點</h1>
                </div>
                <div class="card-footer">
                    <button class="btn">TWD. 20,000</button>
                </div>
            </div>
            <div class="col card text-center buy-card">
                <div class="card-header">
                    <h1>265,000點</h1>
                </div>
                <div class="card-footer">
                    <button class="btn">TWD. 50,000</button>
                </div>
            </div>
            <div class="col card text-center buy-card">
                <div class="card-header">
                    <h1>550,000點</h1>
                </div>
                <div class="card-footer">
                    <button class="btn">TWD. 1,000,000</button>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center m-0">了解發票相關問題？<a href="#">查看須知條款</a></p>
</div>

<% include partials/copyright %>
<% include partials/footer %>