<% include partials/header %>

<div class="container pt-2" id="show">
    <div id="tv">
        <div id="tv-preview">
            <div id="video-preview">
                <img src="https://images.unsplash.com/photo-1532498295735-1a94911c162c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a93d3e44ca651db1c7357cd7c914947&auto=format&fit=crop&w=1401&q=80">
            </div>
            <div id="video-footer">
                <div id="video-footer-title">
                    <h3 class="m-0">Title</h3>
                </div>
                <div class="float-right" id="video-footer-share">
                    <button><img src="https://png.icons8.com/color/50/000000/line-me.png"></button>
                    <button><img src="https://png.icons8.com/color/50/000000/facebook.png"></button>
                    <button><img src="https://png.icons8.com/color/50/000000/share.png"></button>
                </div>
            </div>
        </div> 
        
        <ul class="list-group" id="other-tv">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
    </div>
    
    <div>
        <div>
            <a href="#">熱門推薦</a>
            <a class="float-right" href="#">看更多></a>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1532540983331-3260f8487880?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a402f449c10f272680d355b292b1a9d&auto=format&fit=crop&w=1345&q=80">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1532540983331-3260f8487880?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a402f449c10f272680d355b292b1a9d&auto=format&fit=crop&w=1345&q=80">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1532540983331-3260f8487880?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a402f449c10f272680d355b292b1a9d&auto=format&fit=crop&w=1345&q=80">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1532540983331-3260f8487880?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a402f449c10f272680d355b292b1a9d&auto=format&fit=crop&w=1345&q=80">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div> 

    

    
    




<% include partials/copyright %>
<% include partials/footer %>